p {
    color: cyan;
    width: 100%;
    text-align: center;
}

p.bold-text {
  font-weight: bold;
}

body {
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}
.btn_bar {
    width: 100%;
}
.btn {
    background-color: #1a1a1a;
    
    border-width: 1px;
    margin-right: 9px;
    border-style: solid;
    border-color: snow;
    border-radius: 5px;
    float: left;
    text-decoration: none;
    color: snow;
}